body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
.playlist-container {
	height: 276px;
	width: 1070px;
	overflow: scroll;
	white-space: nowrap;
	margin-top: 20px;
	.thumbnail-container {
		display: inline-block;
		margin-right: 5px;
		position: relative;
		width: 355px;
		height: 265px;
		background: rgba(0, 0, 0, 0.5);
		vertical-align: top;
		&:hover {
			background: rgba(0, 0, 0, 0);
		}
		.video-thumbnail {
			width: 355px;
			position: relative;
			z-index: -1;
		}
		.video-title {
			position: relative;
			bottom: 72px;
			color: white;
			text-shadow: 0 0 3px #000000;
			font-size: 19px;
			display: block;
			width: 89%;
			margin-left: 5px;
			height: 67px;
			white-space: normal;
			text-align: center;
		}
	}
}
